@model Article

@{
    Layout = null;
}

<div style="border-top: 1px solid #e4e4e4;">
    <h3>@Model.Title</h3>
    <p><img src="@Model.TeaserImage.First().Url" style="max-width:100px"></p>
    <div>@Model.Summary</div>
</div>
