@model IEnumerable<Article>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Kentico Cloud .NET MVC boilerplate.</h1>

<p>Take a look into the code how this page works.</p>

<h2>Latest articles</h2>

@*
    This MVC helper method ensures that current model is rendered 
    with suitable view from /Views/Shared/DisplayTemplates
*@
@Html.DisplayForModel()