@model IEnumerable<Article>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Kentico Cloud .NET MVC boilerplate.</h1>

<p>This is a small example of how things can be retrieved from Kentico Cloud...</p>


<h2>Latest articles</h2>

@Html.DisplayForModel()